* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    width: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul,ol{list-style: none;}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin:0;
}

.wrapper {
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 1024px;
}

.header-container,
.footer-container {
    background: black;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

#right-sidebar h4 {
    padding-left: 1em;
    margin: 1em 0;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    margin-bottom: 2em;
}

form input {
    display: block;
    margin: 1em;
    padding: .3em;
}

form input[type="submit"] {
    width:15%;
    color: #2c2c2c;
    padding: .4em;
    margin-right: 1.5em
}

/* ==============
    MOBILE: Menu
   ============== */

#nav-toggle {
    width: 1.5em;
    height: 16px;
    position: absolute;
    right:2%;
    display: block;
    margin: 1.5em auto 0.7em;
    padding: 1em;
    z-index: 2;
}
#nav-toggle .line {
    display: block;
    background: #ccc;
    width: 1.5em;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 2px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
#nav-toggle .line.line-1 {
    top: 20%;
}
#nav-toggle .line.line-2 {
    top: 48%;
}
#nav-toggle .line.line-3 {
    top: 75%;
}
#nav-toggle:hover .line-1, #nav-toggle:focus .line-1 {
    transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}
#nav-toggle:hover .line-3, #nav-toggle:focus .line-3 {
    transform: translateY(1px);
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -o-transform: translateY(1px);
}
#nav-toggle.active .line-1 {
    transform: translateY(0.5em) translateX(0) rotate(-45deg);
    -ms-transform: translateY(0.5em) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(0.5em) translateX(0) rotate(-45deg);
    -moz-transform: translateY(0.5em) translateX(0) rotate(-45deg);
    -o-transform: translateY(0.5em) translateX(0) rotate(-45deg);
}
#nav-toggle.active .line-2 {
    opacity: 0;
}
#nav-toggle.active .line-3 {
    transform: translateY(-0.6em) translateX(0) rotate(45deg);
    -ms-transform: translateY(-0.6em) translateX(0) rotate(45deg);
    -webkit-transform: translateY(-0.6em) translateX(0) rotate(45deg);
    -moz-transform: translateY(-0.6em) translateX(0) rotate(45deg);
    -o-transform: translateY(-0.6em) translateX(0) rotate(45deg);
}

#main-menu {
    transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.shown-menu {
    transform: translateY(0);
    position: relative;
}

.hidden-menu {
    transform: translateY(-30em);
}

.rwd-hidden {
    height: 108px
}


.main-container {
    text-align: center;
}

.main {
    flex-direction: column;
    text-align: left;
}


#left-sidebar {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1 100%;
}

 .main article {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 100%;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2 100%;
}

#right-sidebar {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 100%;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1 100%;
    background-color: #D2D2D2;
}

/* ==============
    MOBILE: Main
   ============== */

.logo-container {
    margin: .4em 0 0 1em;
    display: flex;
}

.logo {
    background-image: url(../images/logo-movil.png);
    height: 43px;
    width:50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   ALL: Main style rules
   ========================================================================== */

.logo {
    margin:1em 0 41px;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

#main-menu {
    -moz-box-flex: 3;
    -ms-flex: 3;
    -webkit-flex: 3;
    flex: 3;
    position: relative;
}

.rwd-toggle {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rwd-toggle li {
    text-transform: uppercase;
    align-items: stretch;
    display: block;
}

#main-menu a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-decoration: none;
    color: white;
}


.main {
    width:100%;
    /* Old versiones overrides */
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    }

.slogan-container {
    background-color: #485155;
    position: relative;
    padding: 1em;
    text-align: center;
}

.main-container {
    z-index: 2;
}

.images-rounded-containter {
    text-align: center;
    margin-bottom: 3em;
}

.images-wrapper {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-rounded-item {
    flex: 1 100%;
    display: inline-block;
    margin-top:30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    behavior: url(/pie/PIE.htc);
}

.images-rounded-item img{
    /* Repeated for safari */
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* IE ~fallback */
    behavior: url(/pie/PIE.htc);
}

aside {
    color:#2c2c2c;
}

#left-sidebar {
    background-color: #fff;
}

#left-sidebar h4 {
    padding-left: .5em;
}


article > header, article > section, article > footer{
    /* Overall, Old Safari issues */
    padding: 0 1em
}

article > footer {
    margin-bottom: 2em
}


/* Others */

blockquote {
    font-style: italic;
    color: #fff;
}

#ul-bolito {
    list-style-type: none;
}

#ul-bolito > li{
    list-style-image: url(../images/bolito-fallback.png);
    list-style-image: url(../images/bolito.svg);
}

#ol-red {
    counter-reset: item;
    padding-left: 1em;
}

#ol-red > li:before {
    content: counter(item) ".- ";
    counter-increment: item;
    color: red;
}


/* Footer */

.ribbon {
    background-image: url(../images/sello-gris-fallback.png);
    background-image:
        linear-gradient(transparent, transparent),
        url(../images/sello-gris-optimized.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height:96px;
    width: 72px;
    transform: translateX(1em) translateY(-3em) rotate(-20deg);
    -webkit-transform: translateX(1em) translateY(-3em) rotate(-20deg);
    -o-transform: translateX(1em) translateY(-3em) rotate(-20deg);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .main{
        display: block;
    }

    #main-menu {
        right: 7%;
    }

    .rwd-toggle {
        margin-left: 2em;
    }

    /* Form */

    form input {
        width:90%;
    }

    form input[type="submit"] {
        width:50%;
    }

}

@media (min-width: 480px) {

    nav a {
        display: block;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }


    .images-rounded-item {
        flex: 1 40%;
        margin-right: 30px;
    }

    #left-sidebar {
        position: relative;
        display: inline;
    }

    #left-sidebar li {
        display: inline;
    }

    #left-sidebar li:after {
        /* em dash */
        content: ' — ';
    }

    #left-sidebar li:last-child:after {
        content: '';
    }

    .rwd-toggle {
        margin-left: 2em;
    }

    /* Form */

    .form-wrapper {
        max-width: 100%;
        padding-bottom: 2em;
    }

    form {
        text-align: center;
    }

    #right-sidebar h4 {
        font-size: 200%;
        padding-left: .5em;
    }

    form input {
        width: 80%;
        margin:1em auto;
        float: center;
        padding: .3em;
        max-width: 600px;
    }

    form > input[type="submit"] {
        margin: auto;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE:
   ==================== */

    .logo {
        background-image: url(../images/logo-peq.png);
        height: 85px;
        width: 100px;
    }

    .main {
        width:100%;
    }

    .header-container {
        height:142px;
        align-items: center;
        -webkit-box-align: baseline;
    }

    #main-menu {
        justify-content: flex-end;
    }


    /* Responsive menu override: do not change the following */

        /* If resizes being hidden */
            .shown-menu {
                transform: translateY(0);
            }

            .rwd-hidden {
                height:auto!important;
            }

        #main-menu a {
            text-align: center;
        }

        #nav-toggle {
            visibility: hidden;
            display: none!important;
        }

        .hidden-menu {
            visibility: visible;
            display: inherit;
        }

        .rwd-toggle li {
            padding: 0 .5em;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -moz-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            position:relative;
            height: 100%;
        }
    /* #Responsive override */

    .rwd-toggle li:last-child {
        margin-right: .1em;
    }

    #main-menu a {
        max-width: 141px;
    }

    .images-rounded-item {
        flex: 2 40%;
        margin-bottom:30px;
    }

    /* Form */

    #right-sidebar h4 {
        font-size: 200%;
        padding: .5em;
        margin-left: .5em;
    }

    .form-wrapper {
        max-width: 100%;
        padding-bottom: 2em;
        justify-content: flex-start;
    }

    form {
        text-align: left;
    }

    form input {
        display: inline;
        width: 40%;
        margin:1em;
        padding: .3em;
        max-width: 600px;
    }

    form input:first-child {
        margin-left: 2em;
    }

    form > input[type="submit"] {
        display: block;
        margin: .5em 0 0 2em;
    }

    /* Footer */

    #footer {
    -webkit-box-pack: justify; /*No space-around similarity for old safaris */
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #main-menu {
        right: -10%;
    }

    .images-rounded-containter {
        max-width: 700px;
        margin: auto;
    }
    .images-wrapper {
        justify-content: center;
    }
}

@media only screen and (min-width: 960px) {

    #left-sidebar ul{
        list-style: disc!important;
        padding-left: 30px;
    }

    #left-sidebar li {
        display: block;
    }

    #left-sidebar li:before {
        content: '•';
        padding-right: 10px;
    }
    #left-sidebar li:after {
        content: '';
    }

    .main article {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 60%;
    -moz-box-flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    flex: 2 60%;
    }

    .main {
        flex-direction: row;
    }


    #left-sidebar {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 15%;
        -moz-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1 15%;
    }

    #right-sidebar {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
        width: 25%;
        -moz-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1 25%;
        background-color: #D2D2D2;
    }

    /*Forms*/

    /* Form */

    #right-sidebar h4 {
        font-size: 100%;
        padding-left: 1em;
        margin: 0;
    }

    .form-wrapper {
        max-width: 100%;
        padding-bottom: 2em;
        justify-content: flex-start;
    }


    form {
        text-align: left;
        width: 80%;
    }

    form input {
        display: block;
        width: 90%;
        margin:0 2em 1em 1em;
    }

    form input:first-child {
        margin-left: 1em;
    }

    form input[type="submit"] {
        float: right;
        width: 50px;
        padding:.2em .3em;
    }

}


@media only screen and (min-width: 1024px) {

    .header-container {
        text-align: center;
    }
    .header-navigation {
        margin:auto!important;
    }

    #main-menu {
        right: 0;
        margin-right: 0!important;
        height: 142px;

    }

    .rwd-toggle li {
        padding: 0 21px;
    }

    .rwd-toggle li:after {
        content: ' I ';
        font-family: sans-serif;
        color:#555;
        padding-left: 21px;
        top: 15px;
        position: relative;
    }

    .rwd-toggle li:last-child {
        padding-right: 0;
    }

    .rwd-toggle li:last-child:after {
        /*safari hack*/
        content: '.';
        top: 15px;
        opacity: 0;
        visibility: hidden;
    }

    #main-menu a{
        align-self: center;
        -webkit-box-align:center;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .images-rounded-containter {
        max-width: 1024px;
        margin: auto;
    }

    .images-wrapper {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .main {
        justify-content: center;
        margin: auto;
    }

    #left-sidebar {
        top:-20px;
        z-index: 3;
    }

    #lef-sidebar h4 {
        margin-top: .6em;
    }
}

@media only screen and (min-width: 1200px) {

    .main {
        max-width: 1024px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles: if it's going to be printed
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}